.App {
    display: flex;
}

.list {
    width: 250px;
    list-style: none;
    margin: 0 250px 0 0;
    padding: 0;
}

.item {
    display: block;
    margin: 0;
    padding: 10px 25px;
    border: 1px solid #000;

    cursor: pointer;
    transition: .3s;
}

.item:hover {
    background: #005599;
    color: #fff;
    transition: .3s;
}

.card {
    width: 250px;
    border: 1px solid #000;
}

img {
    display: block;
    width: 100%;
}

h2 {
    margin: 0;
}

.text,
h2 {
    padding: 10px 25px;
    border: 1px solid #000;
}

